.form-class-todays-offer{
    visibility: hidden;
}
// #delivered{
//     height: 3%;
// }
// .lists{
//     display: flex;
// }
.food-list{
    display: inline-flex;
}
.quantity{
    color: green;
    right: -10%;
    position: relative;
}